{% extends 'base.html' %}

{% block content %}
<h2>Add a New Course</h2>

<form method="post">
    <label for="title">Name</label>
    <input type = "text" name = "name" id = "name" required>

    <label type = "teacher">Teacher</label>
    <input type = "text" name = "teacher" id = "teacher" required>

    <label type = "start_month">Start month</label>
    <input type = "text" name = "start_month" id = "start_month" required> 

    <button type = "submit">Add Course</button>
</form>
{% endblock %}