<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device - width, initial-scale = 1.0">
    <title>Westlake boys year 11 course selection </title>
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'style.css') }}">
</head>

<body>
    <div class = "container">
    <h1>Westlake Boys High School Year 11 Courses</h1>    

    <nav>
        <a href = "{{ url_for('index') }}">Home</a>
        <a href = "{{ url_for('view_courses') }}">View Courses</a>
        <a href = "{{ url_for('add_course') }}">Add Course</a>
    </nav>
    <hr>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
    </div>
</body>
</html>

