{% extends 'base.html' %}

{% block content %}
<h2>Delete Course</h2>

<form method="post">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" value="{{ course.title }}" required><br><br> 

    <label for="title">Teacher</label>
    <input type="text" name="Teacher" id="Teacher" value="{{ course.teacher }}" required><br><br>

    <label for="title">Start month</label>
    <input type="text" name="start_month" id="start_month" value="{{ course.start_month }}" required><br><br> 

    <button class="submitformbutton" type="submit">Delete Course</button>
</form>
{% endblock %}