{% extends 'base.html' %}

{% block content %}
<h2>Edit Course</h2>

<form method="post">
    <label for="title">Title</label>
    <input type = "text" name = "title" id = "title" value ="{{game.title }}" required>

    <label type = "platform">Platform</label>
    <input type = "text" name = "platform" id = "platform" value ="{{game.title }}" required>

    <label type = "genre">Genre</label>
    <input type = "text" name = "genre" id = "genre" value ="{{game.title }}" required>

    <label type = "year">Year</label>
    <input type = "number" name = "year" id = "year" value ="{{game.title }}" required>

    <label type = "sales">Sales (in millions)</label>
    <input type = "number" step = "0.01" name = "sales" id = "sales" value ="{{game.title }}" required> 

    <button type = "submit">Update game</button>
</form>
{% endblock %}