{% extends 'base.html' %}

{% block content %}
<h2>Edit Course</h2>

<form method="post">
    <label for="title">Title</label>
    <input type = "text" name = "title" id = "title" value ="{{course.title }}" required>

    <label type = "platform">Teacher</label>
    <input type = "text" name = "Teacher" id = "Teacher" value ="{{course.teacher }}" required>

    <label type = "genre">Start month</label>
    <input type = "text" name = "Start month" id = "Start month" value ="{{course.start_month }}" required>

    <button type = "submit">Update course</button>
</form>
{% endblock %}