{% extends 'base.html' %}

{% block content %}
<h2>All games</h2>

<!-- Table to display the the list of games-->
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Platform</th>
            <th>Genre</th>
            <th>Year</th>
            <th>Sales</th>
            <th>Actions</th> 
        </tr>
    </thead>
    <tbody>
        {% for game in games %}
        <tr>
            <td>{{ course.id }}</td> 
            <td>{{ course.name }}</td> 
            <td>{{ course.teacher }}</td> 
            <td>{{ course.start_month }}</td>
            <td>{{ course.year }}</td> 
            <td>
                <a href ="{{ url_for('edit_course, id=course.id) }}">Edit</a>
                <form action="{{ url_for('delete_course', i:dcourse.id) }}" method="post" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

